.icon{
     background-color: white;
     color: white;
     margin: 0;;
     padding: 0;
}
* .timeline-outer{
     background-color: black;
     color: white !important;
}
.ant-timeline-item-head-custom{
     padding: 0;
     background-color: black;
}